<section class="has-background-info-light"></section>
<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
  <div class="columns">
    <div class="column is-half">

  <div class="title is-size-5 mt-3">Fill in and submit to Add Employee</div>

  <div class="employee-form">
    <div class="field">
      <label class="label"for="company-input">Company</label>
    <select type="select" id="company-choice">
              {{#each company}}
                <option value="{{this.id}}">
                  {{this.name}}
                </option>
              {{/each}}
            </select>
      </div>
    </div>

    <div class="field">
      <label class="label" for="roleID-input">Role</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="text"
          placeholder="Please enter a role"
          value=""
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label" for="manager-input">Manager</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="text"
          placeholder="Please enter a manager"
          value=""
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label" for="userID-input">User</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="password"
          placeholder="Please enter a user"
          value=""
        />
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>


    <div class="field is-grouped my-5">
      <div class="control">
        <button class="button is-dark">Submit</button>
      </div>
      <div class="control">
        <button class="button is-light">Cancel</button>
      </div>
    </div>
  </div>
</section>


<div class="paycheck is-size-5 pl-5 pt-5">
    <table class="pay-table table is-bordered is-striped" >
    <thred>
       <th>#</th>
       <th>Username</th>
       <th>name</th>
       <th>Created At</th>
    </thred>

<tbody>
{{#each company}}
<tr>
    <td>{{this.user.id}}</td>
    <td>{{this.user.username}}</td>
    <td>{{this.user.name}}</td>
    <td>{{this.user.createdAt}}</td>

</tr>  
{{/each}}

</tbody>
</table>
</div>


<script src="/javascript/employee.js"></script>