<form class="edit-form">

  <div>
    <label for="username-edit">Current Username:</label>
    <input name="username-edit" type="text" id="username-edit" value="{{username}}"/>
  </div>
  <div>
    <label for="email-edit">Current Email:</label>
    <input name="email-edit" type="text" id="email-edit" value="{{email}}" />
  </div>
  <div>
    <label for="password-edit">Current Password:</label>
    <input name="password-edit" type="password" id="password-edit" value="{{password}}" />
  </div>
    <div>
    <label for="name-edit">Current Name:</label>
    <input name="name-edit" type="text" id="name-edit" value="{{name}}" />
  </div>
    <div>
    <label for="adress-edit">Current Address:</label>
    <input name="address-edit"type="address" id="address-edit" value="{{address}}" />
  </div>
    <div>
    <label for="phone-edit">Current Number:</label>
    <input name="number-edit" type="tel" id="number-edit" value="{{phone}}" />
  </div>
     <div>
    <label for="tax-edit">Current tax_id:</label>
    <input name="tax-edit"type="number" id="tax-edit" value="{{tax_id}}"/>
  </div>
    <div>
    <button type="submit">Submit</button>
  </div>

  </form>

  <script src="/javascript/edit-user.js"></script>