<section class="has-background-info-light"></section>
<section
  class="hero is-fullheight-with-navbar has-background-grey-lighter px-5 py-5"
>
<div class="">

      {{#each user}}
        <div class="card my-5">
          <header class="card-header">
            <p class="card-header-title">
              #
              {{this.id}}
              -
              {{this.name}}
            </p>
          </header>
          <div class="card-content py-4">
            <div class="content">
              <div class="columns">
                <div class="column py-2">
                  <h4 class="is-size-6 mb-0">Username:</h4>
                  <p class="">{{this.user.username}}</h4>
                </div>
                <div class="column py-2">
                  <h4 class="is-size-6 mb-0">Email Address:</h4>
                  <p class="">{{this.user.email}}</h4>
                </div>
                <div class="column py-2">
                  <h4 class="is-size-6 mb-0">Phone Number:</h4>
                  <p class="">{{this.user.phone_number}}</h4>
                </div>
              </div>
            </div>

            <div class="content">
              <h4 class="is-size-6 mb-0">Address:</h4>
              {{this.user.addr1}}
            </div>

              <div class="content">
              <h4 class="is-size-6 mb-0">Role:</h4>
              {{this.role.role_name}}
            </div>

                <div class="content">
              <h4 class="is-size-6 mb-0">Company:</h4>
              {{this.company.name}}
            </div>

                <div class="content">
              <h4 class="is-size-6 mb-0">Created At:</h4>
              {{this.user.createdAt}}
            </div>

                <div class="content">
              <h4 class="is-size-6 mb-0">Last Updated:</h4>
              {{this.user.updatedAt}}
            </div>

          </div>
          <footer class="card-footer">
            <a href="edit/{{this.id}}" class="card-footer-item">Edit</a>
          </footer>
        </div>
      {{/each}}

 </div>
</section>