<table class="user-table">
    <thred>
       <th>#</th>
       <th>Username</th>
       <th>Email</th>
       <th>Name</th>
       <th>Address</th>
       <th>Phone</th>
    </thred>

<tbody>
{{#each user}}
<tr>
    <th>{{this.id}}</th>
    <td>{{this.username}}</td>
    <td>{{this.email}}</td>
    <td>{{this.name}}</td>
    <td>{{this.addr1}}</td>
    <td>{{this.phone_number}}</td>
    <td>
        <a href="#" type="button">View</a>
        <a href="edit/{{this.id}}" type="button">Edit</a>
        <a href="#" type="button">Fire</a>
    </td>
</tr>
{{/each}}
</tbody>
</table>


 <div>
    {{#each user}}
    <label for="role-input">employee:</label>
    <select id="role-input" />{{this.username}} </select>
    {{/each}}
  </div>