<div class="signed-in">
{{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>

<div class="paycheck is-size-5 pl-5 pt-5">
    <table class="pay-table table is-bordered is-striped" >
    <thred>
       <th>Job</th>
       <th>Hours</th>
       <th>PPH</th>
    </thred>

<tbody>
{{#each timelogs}}
<tr>
    <th>{{this.job.job}}</th>
    <td>{{this.minutes_worked}}</td>
    <td></td>
{{/each}}

</tbody>
</table>
</div>

<div class="payjob is-size-5 pl-5 pt-5">
    <table class="pay-job table is-bordered is-striped" >
    <thred>
       <th>Job</th>
       <th>Rate</th>
 
    </thred>

<tbody>
{{#each timelogs}}
<tr>
    <th>{{this.Job.job}}</th>
    <td>{{this.hourly_rate.hourly_rate}}</td>
{{/each}}

</tbody>
</table>
</div>
