<div class="signed-in">
{{#if loggedIn}}
<h1>Current Signed in as: {{name}}</h1>
{{/if}}
</div>
<form class="jobs is-size-6-mobile">
    <h1>Jobs you completed today</h1>
    <div>
    <label for="company_id">Company ID:</label>
    <input type="text" id="company_id" readonly value="{{cid}}"/>
  </div>
  <div>
    <label for="employee_id">Employee ID:</label>
    <input name="email-edit" type="text" id="employee_id" readonly value="{{eid}}"/>
  </div>
   <div>
    <label for="job-choice">Job Worked</label>
    <select type="select" id="job-choice">
        {{#each job}}
        <option data-id="{{this.id}}">
            {{this.job}}
        </option>
       {{/each}}
    </select>
  </div>
   <div>
    <label for="email-edit">hours_worked</label>
    <input  type="text" id="email-edit"/>
  </div>
  <div>    
    <button type="submit" class="button is-dark">Submit</button
    ></div>

</form>


